
// 蓝色 病案号
.blue {
  color: #185da6;
  cursor: pointer;
}

// 下划线
.underline-link {
  text-decoration: underline;
  text-decoration-color: #185da6;
  text-decoration-style: solid;
  text-underline-offset: 2px;
}

.el-cascader-menu__wrap {
  width: 300px !important;
  height: 450px !important;
}

