/node_modules
/public/hot
/public/docs
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.env.local
/.env
/public/.htaccess
/public/nginx.htaccess
全病历质控接口列表.md
app.zip
.DS_Store
.gitmessage
app/Services/MysqlDataSync/sanyuan/*.html
.adnify/
